body {
    background-color: slategrey;
    
}

.header {
    border: 5px solid black;
    border-style: double;
    background-color: darkorange;
    text-align: center;
}

.align-center {
    text-align: center;
}

.unordered-list {
    background-color: darkorange;
    color: black;
    border: 2px solid black;
    padding: 10px;
    font-size: 22px;
    list-style-position: inside;
}