body {
    background-color: slategrey;
    
}
      

.header {
    background-color: darkorange;
    text-align: center;
}

.aligncenter {
    text-align: center;
}

.unordered-list {
    color: white;
    
}